* {
    border: orange solid 1px;
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    margin: 0;
    padding: 11px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 4fr 3fr 1fr;
    grid-gap: 22px;
    grid-template-areas:
        "header header header"
        "resource resource form"
        "resource resource form"
        "resource resource error"
        "footer footer footer";
    text-align: center;
}

.header {
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.resources {
    grid-area: resource;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.form-entry {
    grid-area: form;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.error-space {
    grid-area: error;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}