/* * {
    border: orange solid 1px;
} */

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    margin: 0;
    padding: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* height: 100vh; */
    /* display: grid; */
    justify-content: center;
    align-items: center;
    /* font-size: 1.2rem; */
    background-color: rgb(149, 149, 149);
}

.grid-container {
    display: grid;
    background-color: #3f163f87;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 4fr 3fr 1fr;
    grid-gap: 22px;
    grid-template-areas:
        "header header header"
        "resource resource form"
        "resource resource form"
        "resource resource error"
        "footer footer footer";
    text-align: center;
}

.header {
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.filledForm-container {
    /* display: grid; */
    background-color: #3f163f87;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 11px;
    grid-template-areas:
        "filledForm-image filledForm-field"
        "filledForm-image filledForm-field";
    text-align: center;
}

.filledForm-image {
    grid-area: "filledForm-image";
    background-color: rgb(43, 205, 226);
    height: 200px;
}

.filledForm-field {
    grid-area: "filledForm-field";
    background-color: rgb(38, 90, 120);
    height: 200px;
}

.resources {
    grid-area: resource;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-gap: 11px;
}

.resource-container {
    display: grid;
    background-color: #3f163f87;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr .01fr;
    grid-gap: 11px;
    grid-template-areas:
        "resource-image resource-field";
    text-align: center;
}

.resource-image {
    grid-area: "resource-image";
    background-color: blueviolet;
    /* width: 175px;
    height: auto; */
    display: grid;
    padding: 11px;
    border:rgb(38, 90, 120) solid 11px;
}

.resource-field {
    grid-area: "resource-field";
    background-color: rgb(38, 90, 120);
    /* height: 200px; */
}

.form-entry {
    grid-area: form;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

    .form {
        padding-top: 22px;
    }

    .input {
        color: chartreuse;
        width: 80%;
        height: 33px;
    }

    .input:hover {
        background-color: rgba(137, 43, 226, 0.352);
        transition: all .25s ease-in-out;
    }

    input[type="number"] {
        text-align: right;
        margin-right: 10px;

        /* Add currency marker */
        &::after {
            content: "$";
            margin-left: 5px;
        }
    }

    .label {
        padding-bottom: 111px;
    }
}

.error-space {
    grid-area: error;
    display: none;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}